name: CI/CD Pipeline to AWS EKS

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # ---------------------- CHECKOUT ----------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # ---------------------- JAVA SETUP ----------------------
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # ---------------------- DOCKER LOGIN ----------------------
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # ---------------------- DOCKER BUILD & PUSH ----------------------
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/wih-subscription-service:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/wih-subscription-service:latest
